<div id="about">
  <p>Чтобы доказать свою приверженность святому Unix, прилагаю свои конфигурации различных WM</p>
</div>
<div id="about">
  <%= image_tag 'r1.jpg'%>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Details</h2>
  <p><b>Distro: </b>Gentoo</p>
  <p><b>WM: </b>DWM</p>
  <p><b>Terminal: </b>Alacritty</p>
  <p><b>Shell: </b>Fish</p>
</div>
<div id="about">
  <%= image_tag 'r2.jpg'%>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Details</h2>
  <p><b>Distro: </b>Arch</p>
  <p><b>WM: </b>SOWM</p>
  <p><b>Terminal: </b>Alacritty</p>
  <p><b>Shell: </b>Tcsh</p>
</div>
<div id="about">
  <%= image_tag 'r3.png'%>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Details</h2>
  <p><b>Distro: </b>Gentoo</p>
  <p><b>WM: </b>DWM</p>
  <p><b>Terminal: </b>Alacritty</p>
  <p><b>Shell: </b>Fish</p>
</div>
<div id="about">
  <%= image_tag 'r4.jpg'%>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Details</h2>
  <p><b>Distro: </b>Debian ARM</p>
  <p><b>WM: </b>DWM</p>
  <p><b>Terminal: </b>st</p>
  <p><b>Shell: </b>zsh</p>
</div>
<div id="about">
  <%= image_tag 'r5.png'%>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Details</h2>
  <p><b>Distro: </b>Arch</p>
  <p><b>WM: </b>BSPWM</p>
  <p><b>Terminal: </b>Kitty</p>
  <p><b>Shell: </b>Fish</p>
</div>
