<div id="about">
<%= image_tag 'd1.png', id: 'myImg' %>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Что я использовал для этого проекта</h2>
  <p><b>Framework: </b>Ruby on Rails</p>
  <p><b>Database: </b>Postgres</p>
  <p><b>Deploy: </b>Capistrano</p>
  <p><b>Authentication: </b>Bcrypt</p>
  <p><b>Image attachment: </b>Shrine</p>
  <p><b>Adapter: </b>Redis</p>
  <p><b>Front: </b>CSS only</p>
  <p><b>Server: </b>Nginx with Passenger</p>
</div>

<div id="aboutp">
  <h1>Теперь о самой сути проекта</h1>
</div>
<div id="about">
  <p> Сайт на первый взгляд может показаться чисто ознакомительным, но в нем, помимо симпатичных картинок имеется написанная с нуля система аутентификации админа и динамическое обновление текущих клиентов и возможность записаться на консультацию у специалиста по телефону или с помощью email(все валидации присутствуют) </p>
</div>
<div id="about">
  <p>
  Аккуратный дизайн и современный стек технологий дают пользователям самый плавный и приятный опыт пользования и точно оставит положительное впечатление о компании
  </p>
</div>

<div id="aboutp">
  <h2>Скриншоты</h2>
</div>

<div id="about">
<%= image_tag 'd2.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'd3.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'd4.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'd5.png', id: 'myImg' %>
</div>
<div id="aboutp">
  <h2>Ссылки</h2>
</div>
<div id="about">
  <a href="https://github.com/daniilty/deza21" class="blog-post_cta">github</a>
  <a href="https://nibfeed.me" class="blog-post_cta">Сам сайт</a>
</div>
