<div id="uppera">
  <div id="about">
    <%= image_tag("s1.jpg") %>
  </div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Что я использовал для этого проекта</h2>
  <p><b>Framework: </b>Ruby on Rails</p>
  <p><b>Database: </b>SQLite3</p>
  <p><b>Deploy: </b>Capistrano</p>
  <p><b>Authentication: </b>Bcrypt</p>
  <p><b>Adapter: </b>Redis</p>
  <p><b>Front: </b>CSS only</p>
  <p><b>Server: </b>Nginx with Passenger</p>
</div>
<div id="aboutp">
  <h1>Идея проекта</h1>
</div>
<div id="about">
  <%= image_tag("s2.jpg")%>
  <p>
  Xочу представить сэмпл интернет магазина по продаже аккаунтов. Есть две роли: продавец и покупатель. Покупатель может спокойно зарегистрироваться через UI,а вот продавцу придётся создать самостоятельную запись в базу данных через консоль с тегом admin: true.</p></div>  
<div id="aboutp">
  <h1>Принцип работы</h1>
</div>
<div id="about">
  <%= image_tag("s3.jpg") %>
  <p>
  Продавец через веб интерфейс добавляет аккаунт, а покупатель, в свою очередь бронирует его через форму</p></div>
<div id="about"><%= image_tag("s4.jpg")%></div>
<div id="about"><%= image_tag("s5.jpg")%></div>
<div id="about">
  <%= image_tag("s6.jpg")%>
  <p>
  Личный кабинет до покупки
  </p>
</div>

<div id="about">
  <%= image_tag("s7.jpg")%>
  <p>
  После
  </p></div>
<div id="about">
  <%= image_tag("s8.jpg")%>
  <p>
  Боковое меню
  </p>
</div>
<div id="about">
  <a class="blog-post_cta" href="https://github.com/daniilty/rails_accounts_shop.git">github</a>
</div>
</div>
