<div id="uppera">
  <div id="about">
    <%= image_tag("t1.jpg") %>
  </div>
  <div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Что я использовал для этого проекта</h2>
  <p><b>Framework: </b>Ruby on Rails</p>
  <p><b>Database: </b>SQLite3</p>
  <p><b>Deploy: </b>Capistrano</p>
  <p><b>Authentication: </b>Bcrypt</p>
  <p><b>Image Attachment: </b>ActiveStorage</p>
  <p><b>Adapter: </b>Redis</p>
  <p><b>Front: </b>CSS only</p>
  <p><b>Server: </b>Nginx with Passenger</p>
  </div>
  <div id="aboutp">
    <h1>Краткое описание</h1>
  </div>
  <div id="about">
    <p>Следующим моим проектом был простенький юмористический новостной портал о новостях с Нибиру. Этот проект я запускал на своем Nginx(+ passenger) сервере при помощи гема Capistrano и количество уникальных посетителей было около 400.
Устройство простое: для начала нужно создать аккаунт администратора через консоль и войти в него по пути /adlog
После этого нам открывается возможность добавлять посты и удалять уже существующие.</p>
  </div>
  <div id="aboutp">
    <h1>Скриншоты</h1>
  </div>
  <div id="about">
    <%= image_tag("t2.jpg")%>
  </div>
  <div id="about">
    <%= image_tag("t3.jpg")%>
  </div>
  <div id="about">
    <%= image_tag("t4.jpg")%>
  </div>
  <div id="about">
    <%= image_tag("t5.jpg")%>
  </div>
  <div id="about">
    <a class="blog-post_cta" href="https://github.com/daniilty/nibfeed.git">github</a>
  </div>
</div>
