<div id="about">
  <%= image_tag("r1.png") %>
  <p>Этот проект пусть и выглядит не особо привлекательно, но скрывает под капотом довольно неплохой технический стек.</p>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Что я использовал для этого проекта</h2>
  <p><b>Framework: </b>Ruby on Rails</p>
  <p><b>Database: </b>Postgres</p>
  <p><b>Deploy: </b>Heroku</p>
  <p><b>Encryption: </b>JWT</p>
  <p><b>Image attachment: </b>Shrine</p>
  <p><b>Adapter: </b>Redis</p>
  <p><b>Front: </b>Bootstrap</p>
  <p><b>Test: </b>RSpec + Capybara</p>
</div>
<div id="aboutp">
  <h1>Теперь о самой сути проекта</h1>
</div>
<div id="about">
  <p>Это демо сайта для ресторана. Есть две роли: Посетитель и администратор. Посетитель может просматривать меню за прошедшие дни и заказывать по одному блюду в одной из трех предложенных позиций. Администратор, в свою очередь, может составлять меню в отдельной вкладке. 
  </p>
</div>
<div id="aboutp">
  <h2>Скриншоты</h2>
</div>
<div id="about">
<%= image_tag 'r2.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'r3 2.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'r4.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'r5 2.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'r6.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'r7.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'r8.png', id: 'myImg' %>
</div>
<div id="aboutp">
  <h2>Ссылки</h2>
</div>
<div id="about">
  <a href="https://github.com/daniilty/jetrubyproj" class="blog-post_cta">github</a>
  <a href="https://whispering-tundra-87656.herokuapp.com/" class="blog-post_cta">Сам сайт</a>
</div>
